body {
  background-color: #f2eee3;
}

header {
  min-height: 100px;
}

main {
  min-height: 100vh;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.container-fluid .row {
  margin: 0;
  padding: 0;
}


.dropdown:hover > .dropdown-menu {
  display: block;
}

.megamenu {
  position: static;
}
.megamenu .dropdown-menu {
  border: none;
  width: 100%;
}
